@model IEnumerable<FA.JustBlog.Core.Models.Post>

@{
    // ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>Url</th>
                        <th>Posted On</th>
                        <th>View Count</th>
                        <th>Total Rate</th>
                        <th>Category</th>
                        <th class="d-flex">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>Url</th>
                        <th>Posted On</th>
                        <th>View Count</th>
                        <th>Total Rate</th>
                        <th>Category</th>
                        <th class="d-flex">Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>@post.Title</td>
                            <td>@post.ShortDescription</td>
                            <td>@post.UrlSlug</td>
                            <td>@post.PostedOn</td>
                            <td>@post.ViewCount</td>
                            <td>@post.TotalRate</td>
                            <td>@post.Category.Name</td>
                            <td class="d-flex g-1">
                                <div class="d-flex g-1">
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@post.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@post.Id"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlSlug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
